.App {
    display: flex;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem;
}

.sidebar {
    width: 5%;
    height: 100%;
}

